<div class="mainContainer">
  <div class="title">
      <h1>AnGulator</h1>
    <div class="calContainer">
      <div class="screenContainer">
        <div class="screenText">
          <div *ngIf="error; else elseBlock">
            <p>{{errorMSG}}</p>
          </div>
          <ng-template #elseBlock>
            <p>{{expression}}</p>
          </ng-template>
        </div>
      </div>
        <div class="buttonContainer">               
          <button *ngFor="let item of buttons" class="buttons" (click)="onEventClick(item.value)">{{item.name}}</button>
        </div>
    </div>
  </div>
</div>